# ignore logbook entries
jupyter_logbook.txt
ip.txt
.ipynb_checkpoints
start_container.sh
start_jupyternotebook.sh
PionReconstruction/data
PionReconstruction/models
PionReconstruction/util/__pycache__/
